{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container info-text">
  <div class="row text-white">
      <hr>
      <h2 class="logo-font mb-4">Newsletter Signup</h2>
      <hr>
  </div>

  <div class="container">
    <form method="post">
    <div class="row text-middle align-items-center">
        <a class="text-white" >{{ form.as_p }}{% csrf_token %}</a>
        <a class="text-white" ><button type="submit">Subscribe</button></a>
    </div>
    </form>   
  </div>

</div>


{% endblock %}