{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container info-text">
    <div class="row text-white">
        <h2><a class="text-white fmci-button btn opacity-25 rounded-0" 
            href="https://futuremobilityireland.ie/" target="_blank">FMCI </a> is not Just A Testbed.</h2>
        <p>We Are One Of The Most Established Development Centres For Advancing Your Future-Driven Innovations.
            Our facility focuses on comprehensive mobility technologies that span both ground (autonomous driving, 
            micro-mobility, smart cities, V2X communications) and air (unmanned drones, eVTOL, AAM, UTM) use cases. 
            We support everyone from individual researchers to multi-national corporations, as well as start-ups 
            and government entities. FMCI assists organisations to conceive, develop, trial, and deploy societally-
            transformative transport solutions not just here in Shannon, Ireland but on a global level.</p>
    </div>
    <div class="row h-100 no-padding">
        <div class="col my-5 go-right">                             
                <a href="{% url 'store' %}"
                    class="shop-now-button btn opacity-25 btn-lg rounded-0 text-uppercase py-3">
                    <span class="icon mr-2">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                    <span>  Shop Now  </span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a> 
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row text-white text-middle">
        <h3 class="text-white">Our Founding Partners</h3>
    </div>
</div>
<hr>

<div class="container">
    <!-- Founding Partners Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in partner_images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{{ image.p_link }}" target="_blank">
                    <img loading="lazy" src="{{ image.p_image.url }}" class="d-block" alt="{{ image.p_name }}">
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
</div>


{% endblock %}