<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-link text-white mr-1.5"
        href="#"
        id="store-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Store
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="store-link">
        <a href="{% url 'store' %}?category=headwear" class="dropdown-item"
          >Headwear</a
        >
        <a href="{% url 'store' %}?category=clothing" class="dropdown-item"
          >Clothing</a
        >
        <a href="{% url 'store' %}?category=accessories" class="dropdown-item"
          >Accessories</a
        >
        <a href="{% url 'store' %}" class="dropdown-item">Everything</a>
      </div>
    </li>

    <li class="nav-item link">
      <a
        class="nav-link text-white"
        href="{% url 'space' %}"
        id="spaces-link"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Workspaces
      </a>
    </li>

    <li class="nav-item link">
      <a
        class="nav-link text-white"
        href="{% url 'service' %}"
        id="services-link"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Services
      </a>
    </li>

  </ul>
</div>
