{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img width="96" height="96" class="rounded shadow-sm" src="{{ widget.value.url }}">
    </a>
    {% if not widget.required %}
        <div class="custom-control custom-checkbox mt-2">
            <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}<br>
    {{ widget.input_text }}
{% endif %}
<span class="btn btn-black rounded-0 btn-file btn-width">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<strong><p class="text-danger" id="filename"></p></strong><hr>

<!-- If there is no second image this script will remove the add image input -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Check if the second image field exists
        var imageTwo = document.getElementById("id_image_two");
        
        if (imageTwo) {
            if (!imageTwo.value) {
                // If not needed, remove it
                var inpImageTwo = document.getElementById("id_image_two");
                if (inpImageTwo) {
                    inpImageTwo.parentNode.removeChild(inpImageTwo);
                }
            }
        }
    });
</script>